* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

 body {
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    align-items: flex-start;
}
#view-high-scores{
    color: white;
    background-color: purple;
}

/* .view-high-scores a{
    color: inherit;
    text-decoration: none;
} */

main{
    display: flex;
     justify-content: space-between;
    flex-wrap: wrap; 
    flex-direction: column;
}
#question-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
}
#question-text{
    text-align: center;
    flex: 1 100%;
}
#opening-page, #question-list, #closing-page, #high-scores {
    text-align: center;
}
#answer-body{
    flex: 1 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
#btn1, #btn2, #btn3, #btn4{
    display: block;
    
    
    flex: 1 100%;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
#rightwrong{
    font-style: italic;
    font-size: 18px;
    color: grey;
    text-decoration: underline;
}
.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: purple;
    border-radius: 12px;
    color: white;
    font-size: 18px;
  }
  
  .btn:hover {
    background: lightpink;
  }
  .btn:active {
   background: lightpink;
  }
  
